body {
    topmargin: 20;
    leftmargin: 20;
    color: #000000;
    background-color: #ffffff;
}

div.blocka {
    font-size: 12pt; 
    float: left;
    width: 20%;
}

div.blockb {
    float: left;
    width: 20%;
}

div.blockc {
    float: left;
    margin-left: auto;
    margin-right: auto;
    width: 60%; 
}



